.content {
  max-width: 55rem;
  margin: auto;
  padding: 4rem 2rem;
  flex: 1;
  text-align: left;
  display: block;
  position: relative;
}

.content p {
  line-height: 1.9;
  font-size: 1.1em;
}

.content h2 {
  margin-top: 5rem;
  cursor: pointer;
}

.content h2:before {
  content: "##";
  margin-left: -2rem;
  margin-right: 0.5rem;
  color: #333;
}

.content pre {
  margin: 30px 0;
}
.content pre code {
  padding: 10px 20px;
}

.date {
  color: #777;
  margin-bottom: -40px;
}

.tocTable {
  top: 245px;
  position: absolute;
  right: -200px;
  width: 250px;
  color: #777;
  font-size: 12px;
}

@media only screen and (max-width: 1200px) {
  .tocTable {
    display: none;
  }
}

.tocLink {
  list-style-type: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: 0.25s all;
}

.tocLink:hover {
  color: white;
}

.copyButton {
  cursor: pointer;
  padding: 4px;
  /* background-color: #333; */
  transition: 0.25s all;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 4px;
}

.copyButton:hover {
  background: linear-gradient(
    135deg,
    rgb(203, 94, 238) 0%,
    rgb(75, 225, 236) 100%
  );
  color: white;
  transform: scale(1.05);
}

.relatedGist {
  border-radius: 6px;
  border: 1px solid #333;
  transition: 0.3s all;
  margin-top: 10px;
  cursor: pointer;
  padding: 0 18px;
}

.relatedGist:hover {
  transform: scale(1.03);
}

.search {
  width: 100%;
  font-size: 20px;
  padding: 8px 16px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 0;
}
