.container {
  max-width: 600px;
  padding: 6px 12px;
  text-align: center;
}

.description {
  line-height: 1.7;
}
.authorName {
  display: block;
  margin-bottom: 0;
  font-weight: 400;
}
.authorTitle {
  margin-top: 4px;
  color: #777;
  font-size: 14px;
  font-weight: 400;
}
